* {
  box-sizing: border-box;;
}

html {
  /*font-family: Helvetica Neue, Helvetica, sans-serif;*/
  font-family: 'Roboto', sans-serif;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /*background-image: url(/public/img/3.jpg);*/
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  /*padding: 50px 50px 0 50px;*/
}

.main {
  /*width: 100px;
  height: 100px;*/
  /*background: white;*/
}

.song-name {
  color: white;
  font-size: 20px;
  height: 30px;
}